/*general CSS*/
h1 {
    text-align: center;
    font-weight: 300;
}

.global-container {
    background-color: #f5f5f5;
    overflow: auto;
}

btn {
    text-align: center;
    padding: 20px 0 0;
}

img {
    border-radius: 50%;
}

/*for login page*/
.form-style {


}

.navbar-brand {
    color: orangered;
    margin-right: 20px;
    margin-left: 20px;
}

/* for home page*/
nav {

}

.submit-form {

}

/* for posts */
.post-class {


}

